<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
</head>
<body>

{% macro body(magnitude=100000) %}
This is an awesome template. I'd give it {{ magnitude | humanize }} thumbs up.
{% endmacro %}

</body>
</html>